@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Needed to force apply styles - custom CSS, especially when dealing with:
Browser behavior
System preferences
Default theme handling
Performance optimizations
Global defaults
*/

/* Force light mode unless .dark class is present */
@media (prefers-color-scheme: dark) {
	html:not(.dark) {
		color-scheme: light;
	}
}

/* application was reading user systems light/dark mode. 
Force colors regardless of system preference */
:root {
	color-scheme: light;
}

:root.dark {
	color-scheme: dark;
}

body {
	@apply text-gray-900 bg-white;
}

.dark body {
	@apply text-white bg-gray-800;
}
